/**
 * Site header
 */
.site-header {
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
    border-bottom: 3px $brand-color solid;
}

.site-title {
    a, a:visited {
      word-spacing: 9999999px;
    }
    @include media-query($on-palm) {
      margin-bottom: 0px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }
    .trigger {
      padding: 40px 0;
      @include media-query($on-palm) {
        padding-top: 0px;
      }
    }

    .page-link {
        line-height: $base-line-height;
        float: right;
        margin-right: $spacing-unit;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
        @include media-query($on-palm) {
          float: left;
        }
    }


}

.title-block {
  padding-bottom: $spacing-unit;
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.rss-subscribe {
    font-size: 15px;
    color: $grey-color;
    margin-top: 5px;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    margin: 2 * $spacing-unit 0;
    .left-column {
      @include media-query($on-palm) {
        width: 0%;
      }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin: (2 * $spacing-unit) 0;
    list-style: none;

    .post-link {
      padding: $spacing-unit 0;
    }
}

.blog-page-post-link {
  display: block;
  margin: $spacing-unit 0;
  h3 {
    margin-bottom: 0;
  }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.continue-reading {
  display: block;
  margin: $spacing-unit 0;
  padding-bottom: $spacing-unit;
}

.post-list-title {
  margin-bottom: 0;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        margin-top: $spacing-unit;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

table {
  margin-top: $spacing-unit;
  margin-left: -10px;
  border-spacing: 10px $spacing-unit;
}

thead {
  text-align: left
}

.fb_iframe_widget {
  top: -7px;
  margin-right: 5px;
}

.share-buttons {
  padding: (($spacing-unit / 2) + 7px) 0px ($spacing-unit / 2) 0;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
}

hr {
  height: 1px;
  border: none;
  background-color: $grey-color-light;
  margin: $spacing-unit 0;
}

.button-div {
  text-align: center;
}

.primary-button {
  padding: 10px;
  background-color: $brand-color;
  color: white;
  border-radius: 5px;
  &:visited {
    color: white;
  }

  &:hover {
    background-color: lighten($brand-color, 10%);
  }
}

#mc_embed_signup #mc-embedded-subscribe-form {
  padding: 0;
  margin: 0;
}
