---
layout: default
---
<div class="post">
  <div>
    <article>
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <div class="post-content">
        {{ content }}
      </div>

      <footer>
        {% if site.disqus_username and page.comments %}
        {% include disqus.html %}
        {% endif %}
      </footer>
    </article>
  </div>

</div>
